langchain
langchain-community
langchain-core
langchain-ollama
langchain-chroma
langgraph
langchain-experimental
pydantic
python-docx
pymupdf
markdown
ipython
pypandoc
EbookLib
tavily-python
flashrank
